.card {
  margin-left: 24px;
  margin-right: 15px;
}

.canvas {
  padding: 30px;
}

button.btn-width {
  background-color: #805387;
}

button#print {
  background-color: linen;
  float: right;
  width: 15%;
  background-color: #805387;
  align-content: center;
}
